import React, { FC } from 'react';
import cx from 'classnames';
import styles from './styles.module.css';

type {{ properCase name }}Props = {
  className?: string,
};

export const {{ properCase name }}: FC<{{ properCase name }}Props> = ({ className = '' }) => (
  <section className={cx(styles.{{ camelCase name }}, className)}>
    {{ properCase name }}
  </section>
);
